[Unit]
Description=Practice Portal Gunicorn socket

[Socket]
ListenStream=/run/gunicorn/practice_portal.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
